/* components/GetRepositorys.css */

.repo-item {
    border: 2px solid #ccc;
    border-radius: 6px;
    margin: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .repo-image {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    border: none;
    align-self: center; /* Centra verticalmente */
  }
  
  .repo-title {
    margin-top: 10px;
  }
  
  .repo-details a {
    color: #0070f3;
    text-decoration: none;
    align-self: center;
  }
  
  .repo-details a:hover {
    text-decoration: underline;
  }
